swota_file_list=(
target/allwinner/${TARGET_BOARD}/swupdate/sw-description-ab:sw-description
#out/${TARGET_BOARD}/boot_initramfs_recovery.img:recovery
out/${TARGET_BOARD}/uboot.img:uboot
out/${TARGET_BOARD}/boot0.img:boot0
out/${TARGET_BOARD}/boot.img:kernel
out/${TARGET_BOARD}/rootfs.img:rootfs
out/${TARGET_BOARD}/image/riscv.fex:riscv
#out/${TARGET_BOARD}/usr.img:usr
)
