config VIDEO_RT_MEDIA
	tristate "sunxi rt-media support"
    select DMA_SHARED_BUFFER
	default n
	---help---
	  This is the driver for sunxi video decoder, including h264/
	  mpeg4/mpeg2/vc1/rmvb.
	  To compile this driver as a module, choose M here: the
	  module will be called cedar_dev.
