#
# embedded vision engine device configuration
#
config SUNXI_MPP_AIO
	tristate "AIO debugfs driver for mpp"
	default y
	depends on (ARCH_SUN8IW16 || ARCH_SUN8IW19) && SUNXI_MPP
	---help---
	This is the driver for allwinner platform audio input/output debugfs module.
	To compile this driver as a built-in module.
