menu "AW Multi-Console Compenents"

config SUBSYS_MULTI_CONSOLE
    bool "Melis Multi Console"
    default y
    help
        Melis Multi Console Support.
        If unsure, say N.

if SUBSYS_MULTI_CONSOLE

config MULTI_CONSOLE_DEBUG
    bool "Melis Multi-Console Debug"
    default n
    help
        Melis Multi-Console Debug.

config MULTI_CONSOLE_REDIRECT_CMD
    bool "Melis Multi-Console Redirect Command"
    default n
    help
        Melis Multi-Console Redirece Command.

config MULTI_CONSOLE_RPMSG
    bool "Support multi-Console by rpmsg"
    default n
    depends on SUPPORT_AMP
    help
        Support multi-Console by rpmsg.
        Depend on openamp compenents.

endif

endmenu
