menu "RTOS Kernel Setup"

choice
	prompt "RTOS Kernel Select"
	default RTTKERNEL

config  RTTKERNEL
	bool "Take RT-Thread as Melis Kernel"

endchoice

source "ekernel/core/rt-thread/Kconfig"
#source "ekernel/core/rt-thread/wrapper/Kconfig"

config HZ
	int "Tick frequency, Hz"
	range 10 1000
	default 1000 if ZEPHYRKERNEL
	default 100 if  RTTKERNEL
	help
	System's tick frequency, Hz.

config KERNEL_SAMPLE_TEST
	bool "rtos kernel sample test code"
	depends on RTTKERNEL || ZEPHYRKERNEL
	default n

endmenu
