modules.builtin
modules.order
Module.symvers
.gitignore
.*
*.d
*.dis
*.sct
*.via
*.o.*
*.o
*.elf
*.map
*.log
!.gitignore
!.astylerc
filelist
*.swp
*.i
*.s
*.lst
tags
cscope.in.out
cscope.out
cscope.po.out
