#
# Platform drivers
# Most drivers here are currently for webcam support
# This is the driver for allwinner platform ISE module
#

config SUNXI_EISE
	tristate "EISE driver"
	default M
	---help---
	  This is the driver for allwinner platform ISE module.
	  To compile this driver as a module, choose M here: the
	  module will be called sunxi_eise.