.config.old
.config
modules.builtin
modules.order
Module.symvers
platform.txt
.*
*.d
*.dis
*.sct
*.via
*.o.*
*.a
*.o
*.elf
*.map
*.log
*.rar
gnucc_armv5te
touchtheme.script.NULL
!.gitignore
!.astylerc
filelist
*.swp
*.i
*.s
*.lst
out/
!ekernel/subsys/avframework/eyesee-mpp/middleware/sun8iw19p1/media/LIBRARY/agc_lib/libAgc.a
!ekernel/subsys/avframework/eyesee-mpp/middleware/sun8iw19p1/media/LIBRARY/ans_lib/libwebrtc/libAns.a
!ekernel/subsys/avframework/eyesee-mpp/middleware/sun8iw19p1/media/LIBRARY/libISE/lib_ise_gdc.a
!ekernel/subsys/avframework/eyesee-mpp/middleware/sun8iw19p1/media/LIBRARY/libcedarc/base/libcdc_base.a
!ekernel/subsys/avframework/eyesee-mpp/middleware/sun8iw19p1/media/LIBRARY/libcedarc/library/toolchain-sunxi-arm32/*.a
!ekernel/subsys/avframework/eyesee-mpp/middleware/sun8iw19p1/media/LIBRARY/libcedarc/memory/libMemAdapter.a
!ekernel/subsys/avframework/eyesee-mpp/middleware/sun8iw19p1/media/LIBRARY/libcedarc/vdecoder/libvdecoder.a
!ekernel/subsys/avframework/eyesee-mpp/middleware/sun8iw19p1/media/LIBRARY/libcedarc/vencoder/base/libvenc_base.a
!ekernel/subsys/avframework/eyesee-mpp/middleware/sun8iw19p1/media/LIBRARY/libcedarc/vencoder/libvencoder.a
!ekernel/drivers/drv/source/net/brcm_wifi_libs/libs/libbrcm.a
platform.txt
