menu "Platform Setup"

choice
	prompt "Chip select"

	config SOC_SUN20IW3P1
		bool "V853 E907 SOC Platform"
		select SOC_SUN20IW3
		help
			V853 E907 RTOS

endchoice

config SOC_SUN20I
	bool
	default n
	help
		Based on RISCV SOC familiy.

config SOC_SUN20IW3
	bool
	select SOC_SUN20I
	select ARCH_SUN20IW3
	help
		Based on SUN20I SOC familiy.

config ARCH_SUN20IW3
	bool
	help
		Based on SUN20I SOC familiy.

config DRAM_PHYBASE
	hex  "Physical base address of Dram"
	default 0x40000000 if SOC_SUN20I

config DRAM_VIRTBASE
	hex  "Virtual base address of Dram"
	default 0xc2000000 

config DRAM_SIZE
	hex  "Capacity of Dram"
	default 0x04000000
	help
		DDR physical memroy size.

config COHERENT_SIZE
	hex  "Capacity of NoCache Dram Zone"
	default 0x00c00000
	help
		Set Size Of NoCache Dram Zone for DMA etc

config COHERENT_START_ADDR
	hex  "Address of NoCache Dram Zone"
	default 0xa0000000
	help
		Set Start address of NoCache Dram Zone for DMA etc

config KERNEL_USE_SBI
	bool  "define whether using sbi (RV)"
	depends on SOC_SUN20IW1
	default y
	help
		if use sbi, the syscall number defined in kapi.h need to change for being different with function number in SBI module.

config LOAD_DATA_TO_MEM_FROM_STORAGE
	bool  "load data to memory from storage"
	default y
	help
		the function used for more quickly reading when checking on fpg-board.

endmenu
