/*
 * Allwinner Technology CO., Ltd. sun8iw21p1 soc board.
 *
 * soc board support.
 */
/dts-v1/;

#include "sun8iw21p1.dtsi"

/{
	model = "TinyVision";
	board = "V851se", "V851se-TinyVision";
	compatible = "allwinner,v851se", "arm,sun8iw21p1";
	aliases {
		serial0 = &uart0;
	};

	chosen {
		bootargs = "root=/dev/mmcblk0p2 earlyprintk=sunxi-uart,0x02500000 loglevel=8 initcall_debug=0 rootwait console=ttyS0 init=/init";
	};
};

&pio {
	uart0_pins_a: uart0_pins@0 {
		pins = "PH9", "PH10";
		function = "uart0";
	};

	uart0_pins_b: uart0_pins@1 {
		pins = "PH9", "PH10";
		function = "gpio_in";
	};

	uart1_pins_a: uart1_pins@0 {
		pins = "PE6", "PE7";
		function = "uart1";
	};

	uart1_pins_b: uart1_pins@1 {
		pins = "PE6", "PE7";
		function = "gpio_in";
	};

	uart2_pins_a: uart2_pins@0 {
		pins = "PA8", "PA9";
		function = "uart2";
	};

	uart2_pins_b: uart2_pins@1 {
		pins = "PA8", "PA9";
		function = "gpio_in";
	};

	uart3_pins_a: uart3_pins@0 {
		pins = "PE12", "PE13";
		function = "uart3";
	};

	uart3_pins_b: uart3_pins@1 {
		pins = "PE12", "PE13";
		function = "gpio_in";
	};

	spi0_pins_default: spi0@0 {
		pins = "PC0", "PC2", "PC3"; /* clk, mosi, miso */
		function = "spi0";
		drive-strength = <10>;
	};

	spi0_pins_cs: spi0@1 {
		pins = "PC1", "PC4", "PC5"; /* cs, wp, hold */
		function = "spi0";
		drive-strength = <10>;
		bias-pull-up;
	};

	spi0_pins_lcd: spi0@2 {
		pins = "PC0", "PC2"; /* clk, mosi */
		function = "spi0";
		drive-strength = <10>;
	};

	spi0_pins_lcd_cs: spi0@3 {
		pins = "PC1"; /* cs */
		function = "spi0";
		drive-strength = <10>;
	};

	spi0_pins_sleep: spi0@4 {
		pins = "PC0", "PC2", "PC3", "PC1", "PC4", "PC5";
		function = "gpio_in";
		drive-strength = <10>;
	};

	spi1_pins_default: spi1@0 {
		pins = "PD2", "PD3", "PD4"; /* clk, mosi, miso */
		function = "spi1";
		drive-strength = <40>;
	};

	spi1_pins_cs: spi1@1 {
		pins = "PD1", "PD5", "PD6"; /* cs, hold, wp */
		function = "spi1";
		drive-strength = <40>;
		bias-pull-up;
	};

	spi1_pins_sleep: spi1@3 {
		pins = "PD2", "PD3", "PD4", "PD1", "PD5", "PD6";
		function = "gpio_in";
		drive-strength = <10>;
	};

	twi0_pins_default: twi0@0 {
		pins = "PA10", "PA11";
		function = "twi0";
		drive-strength = <10>;
		bias-pull-up;
	};

	twi0_pins_sleep: twi0@1 {
		pins = "PA10", "PA11";
		function = "gpio_in";
	};

	twi1_pins_default: twi1@0 {
		pins = "PA6", "PA7";
		function = "twi1";
		drive-strength = <10>;
		bias-pull-up;
	};

	twi1_pins_sleep: twi1@1 {
		pins = "PA6", "PA7";
		function = "gpio_in";
	};

	twi2_pins_default: twi2@0 {
		pins = "PD20", "PD21";
		function = "twi2";
		drive-strength = <10>;
		bias-pull-up;
	};

	twi2_pins_sleep: twi2@1 {
		pins = "PD20", "PD21";
		function = "gpio_in";
	};

	twi3_pins_default: twi3@0 {
		pins = "PD18", "PD19";
		function = "twi3";
		drive-strength = <10>;
		bias-pull-up;
	};

	twi3_pins_sleep: twi3@1 {
		pins = "PD18", "PD19";
		function = "gpio_in";
	};

	twi4_pins_default: twi4@0 {
		pins = "PA8", "PA9";
		function = "twi4";
		drive-strength = <10>;
		bias-pull-up;
	};

	twi4_pins_sleep: twi4@1 {
		pins = "PA8", "PA9";
		function = "gpio_in";
	};

	pwm0_pin_active: pwm0@0 {
		pins = "PA6";
		function = "pwm0";
	};

	pwm0_pin_sleep: pwm0@1 {
		pins = "PA6";
		function = "gpio_in";
		bias-pull-down;
	};

	pwm1_pin_active: pwm1@0 {
		pins = "PA7";
		function = "pwm1";
	};

	pwm1_pin_sleep: pwm1@1 {
		pins = "PA7";
		function = "gpio_in";
		bias-pull-down;
	};

	pwm2_pin_active: pwm2@0 {
		pins = "PD3";
		function = "pwm2";
	};

	pwm2_pin_sleep: pwm2@1{
		pins = "PD3";
		function = "gpio_in";
		bias-pull-down;
	};

	pwm3_pin_active: pwm3@0 {
		pins = "PD4";
		function = "pwm3";
	};

	pwm3_pin_sleep: pwm3@1 {
		pins = "PD4";
		function = "gpio_in";
		bias-pull-down;
	};

	pwm4_pin_active: pwm4@0 {
		pins = "PD5";
		function = "pwm4";
	};

	pwm4_pin_sleep: pwm4@1 {
		pins = "PD5";
		function = "gpio_in";
		bias-pull-down;
	};

	pwm5_pin_active: pwm5@0 {
		pins = "PD6";
		function = "pwm5";
	};

	pwm5_pin_sleep: pwm5@1 {
		pins = "PD6";
		function = "gpio_in";
		bias-pull-down;
	};

	pwm6_pin_active: pwm6@0 {
		pins = "PD7";
		function = "pwm6";
	};

	pwm6_pin_sleep: pwm6@1 {
		pins = "PD7";
		function = "gpio_in";
		bias-pull-down;
	};

	pwm7_pin_active: pwm7@0 {
		pins = "PD8";
		function = "pwm7";
	};

	pwm7_pin_sleep: pwm7@1 {
		pins = "PD8";
		function = "gpio_in";
		bias-pull-down;
	};

	pwm8_pin_active: pwm8@0 {
		pins = "PE8";
		function = "pwm8";
	};

	pwm8_pin_sleep: pwm8@1 {
		pins = "PE8";
		function = "gpio_in";
		bias-pull-down;
	};

	pwm9_pin_active: pwm9@0 {
		pins = "PD19";
		function = "pwm9";
	};

	pwm9_pin_sleep: pwm9@1 {
		pins = "PD19";
		function = "gpio_in";
		bias-pull-down;
	};

	pwm10_pin_active: pwm10@0 {
		pins = "PD20";
		function = "pwm10";
	};

	pwm10_pin_sleep: pwm10@1 {
		pins = "PD20";
		function = "gpio_in";
		bias-pull-down;
	};

	pwm11_pin_active: pwm11@0 {
		pins = "PD12";
		function = "pwm11";
	};

	pwm11_pin_sleep: pwm11@1 {
		pins = "PD12";
		function = "gpio_in";
		bias-pull-down;
	};

	gmac0_pins_active: gmac0@0 {
		pins = "PD1", "PD2", "PD3", "PD4",
			"PD5", "PD6", "PD7","PD9",
			"PD10", "PD11";
		function = "ephy";
		drive-strength = <30>;
		bias-pull-up;
	};

	gmac0_pins_sleep: gmac0@1 {
		pins = "PD1", "PD2", "PD3", "PD4",
			"PD5", "PD6", "PD7","PD9",
			"PD10", "PD11";
		function = "io_disabled";
	};
};

&uart0 {
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&uart0_pins_a>;
	pinctrl-1 = <&uart0_pins_b>;
	status = "okay";
};

&uart1 {
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&uart1_pins_a>;
	pinctrl-1 = <&uart1_pins_b>;
	status = "disabled";
};

&uart2 {
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&uart2_pins_a>;
	pinctrl-1 = <&uart2_pins_b>;
	status = "disabled";
};

&uart3 {
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&uart3_pins_a>;
	pinctrl-1 = <&uart3_pins_b>;
	status = "disabled";
};

&spi0 {
	pinctrl-0 = <&spi0_pins_lcd &spi0_pins_lcd_cs>;
	pinctrl-1 = <&spi0_pins_sleep>;
	pinctrl-names = "default", "sleep";
	sunxi,spi-bus-mode = <SUNXI_SPI_BUS_MASTER>;
	sunxi,spi-cs-mode = <SUNXI_SPI_CS_AUTO>;
	status = "okay";

	st7789v@0 {
    	status = "okay";
    	compatible = "sitronix,st7789v";
		reg = <0>;
		spi-max-frequency = <32000000>;
		rotate = <90>;
		rgb;
		fps = <30>;
		buswidth = <8>;
		reset = <&pio PC 5 GPIO_ACTIVE_LOW>;
		dc = <&pio PC 4 GPIO_ACTIVE_LOW>;
		debug = <1>;
	};
};

&spi1 {
	pinctrl-0 = <&spi1_pins_default &spi1_pins_cs>;
	pinctrl-1 = <&spi1_pins_sleep>;
	pinctrl-names = "default", "sleep";
	sunxi,spi-bus-mode = <SUNXI_SPI_BUS_MASTER>;
	sunxi,spi-cs-mode = <SUNXI_SPI_CS_AUTO>;
	status = "disabled";

	spidev0: spidev@0 {
		compatible = "rohm,dh2228fv";
		reg = <0x0>;
		spi-max-frequency = <100000000>;
		spi-rx-bus-width = <4>;
		spi-tx-bus-width = <4>;
		status = "disabled";
	};
};

&sdc2 {
	non-removable;
	bus-width = <4>;
	mmc-ddr-3_3v;
	/*mmc-hs200-1_8v;*/
	/*mmc-hs400-1_8v;*/
	no-sdio;
	/delete-property/ no-sd;
	no-mmc;
	ctl-spec-caps = <0x8>;
	cap-mmc-highspeed;
	sunxi-signal-vol-sw-without-pmu;
	sunxi-power-save-mode;
	/*sunxi-dis-signal-vol-sw;*/
	max-frequency = <50000000>;
	/*vmmc-supply = <&reg_dcdc1>;*/
	/*emmc io vol 3.3v*/
	/*vqmmc-supply = <&reg_aldo1>;*/
	/*emmc io vol 1.8v*/
	/*vqmmc-supply = <&reg_eldo1>;*/
	status = "disabled";
};

&sdc0 {
	bus-width = <4>;
	/*cd-gpios = <&pio PF 6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;*/
	non-removable;
	broken-cd;
	/*cd-inverted*/
	/*data3-detect;*/
	/*card-pwr-gpios = <&pio PH 0 1 1 2 0xffffffff>;*/
	cd-used-24M;
	cap-sd-highspeed;
	/*sd-uhs-sdr50;*/
	/*sd-uhs-ddr50;*/
	/*sd-uhs-sdr104;*/
	no-sdio;
	no-mmc;
	sunxi-signal-vol-sw-without-pmu;
	sunxi-power-save-mode;
	/*sunxi-dis-signal-vol-sw;*/
	max-frequency = <50000000>;
	ctl-spec-caps = <0x408>;
	/* vmmc-supply = <&reg_dcdc1>; */
	/* vqmmc33sw-supply = <&reg_dcdc1>; */
	/* vdmmc33sw-supply = <&reg_dcdc1>; */
	/* vqmmc18sw-supply = <&reg_bldo1>; */
	/* vdmmc18sw-supply = <&reg_bldo1>; */
	/delete-property/ pinctrl-2;
	status = "okay";
};

&sdc1 {
	bus-width = <4>;
	no-mmc;
	no-sd;
	cap-sd-highspeed;
	/*sd-uhs-sdr12*/
	/*sd-uhs-sdr25*/
	/*sd-uhs-sdr50;*/
	/*sd-uhs-ddr50;*/
	/*sd-uhs-sdr104*/
	/*sunxi-power-save-mode;*/
	/*sunxi-dis-signal-vol-sw;*/
	cap-sdio-irq;
	keep-power-in-suspend;
	ignore-pm-notify;
	max-frequency = <50000000>;
	ctl-spec-caps = <0x8>;
	pinctrl-0 = <&sdc1_pins_a>;
	pinctrl-1 = <&sdc1_pins_b>;
	status = "disabled";
};

/*
 *usb_port_type: usb mode. 0-device, 1-host, 2-otg.
 *usb_detect_type: usb hotplug detect mode. 0-none, 1-vbus/id detect, 2-id/dpdm detect.
 *usb_detect_mode: 0-thread scan, 1-id gpio interrupt.
 *usb_id_gpio: gpio for id detect.
 *usb_det_vbus_gpio: gpio for id detect. gpio or "axp_ctrl";
 *usb_wakeup_suspend：0-SUPER_STANDBY, 1-USB_STANDBY.
 */
&usbc0 {
	device_type = "usbc0";
	usb_port_type = <0x0>;
	usb_detect_type = <0x0>;
	usb_detect_mode = <0x0>;
	usb_id_gpio;
	usb_det_vbus_gpio;
	/* det_vbus_supply = <&usb_power_supply>; */
	usb_regulator_io = "nocare";
	usb_wakeup_suspend = <0>;
	usb_serial_unique = <0>;
	usb_serial_number = "20080411";
	status = "okay";
};

&udc {
	/* det_vbus_supply = <&usb_power_supply>; */
	status = "okay";
};

&ehci0 {
	/* drvvbus-supply = <&reg_drivevbus>; */
	status = "okay";
};

&ohci0 {
	/* drvvbus-supply = <&reg_drivevbus>; */
	status = "okay";
};

&mdio0 {
	status = "okay";
};

&gmac0 {
	phy-mode = "rmii";
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&gmac0_pins_active>;
	pinctrl-1 = <&gmac0_pins_sleep>;
	sunxi,phy-clk-type = <0x1>;
	sunxi,pwm-channel = <11>;
	status = "okay";
};

&twi0 {
	clock-frequency = <400000>;
	pinctrl-0 = <&twi0_pins_default>;
	pinctrl-1 = <&twi0_pins_sleep>;
	pinctrl-names = "default", "sleep";
	/* For stability and backwards compatibility, we recommend setting ‘twi_drv_used’ to 1 */
	twi_drv_used = <1>;
	status = "disabled";
};

&twi1 {
	clock-frequency = <400000>;
	pinctrl-0 = <&twi1_pins_default>;
	pinctrl-1 = <&twi1_pins_sleep>;
	pinctrl-names = "default", "sleep";
	/* For stability and backwards compatibility, we recommend setting ‘twi_drv_used’ to 1 */
	twi_drv_used = <1>;
	status = "disabled";
};

&twi2 {
	clock-frequency = <400000>;
	pinctrl-0 = <&twi2_pins_default>;
	pinctrl-1 = <&twi2_pins_sleep>;
	pinctrl-names = "default", "sleep";
	/* For stability and backwards compatibility, we recommend setting ‘twi_drv_used’ to 1 */
	twi_drv_used = <1>;
	status = "disabled";
};

&twi3 {
	clock-frequency = <400000>;
	pinctrl-0 = <&twi3_pins_default>;
	pinctrl-1 = <&twi3_pins_sleep>;
	pinctrl-names = "default", "sleep";
	/* For stability and backwards compatibility, we recommend setting ‘twi_drv_used’ to 1 */
	twi_drv_used = <1>;
	status = "disabled";
};

&twi4 {
	clock-frequency = <400000>;
	pinctrl-0 = <&twi4_pins_default>;
	pinctrl-1 = <&twi4_pins_sleep>;
	pinctrl-names = "default", "sleep";
	/* For stability and backwards compatibility, we recommend setting ‘twi_drv_used’ to 1 */
	twi_drv_used = <1>;
	status = "disabled";
};

&pwm0 {
	pinctrl-0 = <&pwm0_pin_active>;
	pinctrl-1 = <&pwm0_pin_sleep>;
	status = "disabled";
};

&pwm1 {
	pinctrl-0 = <&pwm1_pin_active>;
	pinctrl-1 = <&pwm1_pin_sleep>;
	status = "disabled";
};

&pwm2 {
	pinctrl-0 = <&pwm2_pin_active>;
	pinctrl-1 = <&pwm2_pin_sleep>;
	status = "disabled";
};

&pwm3 {
	pinctrl-0 = <&pwm3_pin_active>;
	pinctrl-1 = <&pwm3_pin_sleep>;
	status = "disabled";
};

&pwm4 {
	pinctrl-0 = <&pwm4_pin_active>;
	pinctrl-1 = <&pwm4_pin_sleep>;
	status = "disabled";
};

&pwm5 {
	pinctrl-0 = <&pwm5_pin_active>;
	pinctrl-1 = <&pwm5_pin_sleep>;
	status = "disabled";
};

&pwm6 {
	pinctrl-0 = <&pwm6_pin_active>;
	pinctrl-1 = <&pwm6_pin_sleep>;
	status = "disabled";
};

&pwm7 {
	pinctrl-0 = <&pwm7_pin_active>;
	pinctrl-1 = <&pwm7_pin_sleep>;
	status = "disabled";
};

&pwm8 {
	pinctrl-0 = <&pwm8_pin_active>;
	pinctrl-1 = <&pwm8_pin_sleep>;
	status = "disabled";
};

&pwm9 {
	pinctrl-0 = <&pwm9_pin_active>;
	pinctrl-1 = <&pwm9_pin_sleep>;
	status = "disabled";
};

&pwm10 {
	pinctrl-0 = <&pwm10_pin_active>;
	pinctrl-1 = <&pwm10_pin_sleep>;
	status = "disabled";
};

&pwm11 {
	pinctrl-0 = <&pwm11_pin_active>;
	pinctrl-1 = <&pwm11_pin_sleep>;
	status = "okay";
};

&lcd_fb0 {
	lcd_used = <1>;
	lcd_driver_name = "st7789v";
	lcd_x = <240>;
	lcd_y = <240>;
	lcd_width = <32>;
	lcd_height = <32>;
	lcd_data_speed = <60>;

	lcd_if = <0>;

	lcd_dbi_if = <4>;
	lcd_spi_bus_num = <0>;
	lcd_pixel_fmt = <0>;
	lcd_dbi_fmt = <3>;
	lcd_rgb_order = <0>;

	lcd_pwm_used = <0>;
	lcd_pwm_ch = <6>;
	lcd_pwm_freq = <5000>;
	lcd_pwm_pol = <1>;

	lcd_frm = <1>;
	lcd_gamma_en = <1>;
	fb_buffer_num = <2>;
	lcd_backlight = <100>;

	lcd_fps = <60>;
	lcd_dbi_te = <1>;
	lcd_dbi_clk_mode = <0>;

	lcd_gpio_0 = <&pio PC 5 GPIO_ACTIVE_LOW>;
	lcd_spi_dc_pin = <&pio PC 4 GPIO_ACTIVE_HIGH>;
	status = "disabled";
};
