#
#  Touchscreen driver configuration
#
config  TOUCHSCREEN_TLSC6X_TS
       tristate  "tlsc6x touchscreen driver"
       depends on INPUT && I2C
       default m
       help
         tlsc6x touchscreen driver
